.cache/
kompute/
build/
*.o
/junk/*
benchmarks/__pycache__/
benchmarks/junk/
benchmarks/*/image*/
examples/mnist/data/*ubyte
examples/resnet/cifar-100-binary/*
.make-cache.mk
!/junk/gaussian_blocked_cramer.cpp
*.csv
*.pyc
__pycache__/
*.safetensors
examples/*/*.py
!examples/model_verifier/train_export_resnet18.py
*.onnx
examples/**/*.txt
*.png
examples/imagenet/imagenet*/
docs/html/
examples/resnet/cifar-10-batches-bin/*
src/tensorml/generated/
results
